:root {
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --highlight-color: #78a5f3;
  --font-family: Arial, Helvetica, sans-serif;
  }
  
  html,
  body {
  margin: 0;
  padding: 0;
  height: 100%;
  }
  
  #root {
  height: 100%;
  }
  
  .dropdown-container {
  width: fit-content;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  }
  
  .result-header {
  width: fit-content;
  margin: auto;
  height: fit-content;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  transform: translate(-160%, 0%);
  }
  
  .dropdown-table {
  border-collapse: collapse;
  width: fit-content;
  }
  
  .dropdown-table th,
  .dropdown-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: normal;
  }
  
  .dropdown-select {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  }
  
  .dropdown-select:focus {
  box-shadow: 0px 0px 0px 1px var(--highlight-color);
  }
  
  .dropdown-container-button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  }
  
  .dropdown-container-button button {
  border-radius: 4px;
  background: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  }
  
  .dropdown-container-button button:hover {
  background: var(--primary-color);
  }
  
  .checkbox-container {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  }
  
  .checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  }
  
  .checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
  }
  
  input[type="checkbox"] {
  display: none;
  }
  
  input[type="checkbox"]:checked + .checkbox-custom {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  }
  
  option {
  color: #000;
  }