.register__container {
  display: flex;
  justify-content: center;
  align-items: center;
}  
.register__table {
  margin: 2rem auto;
  max-width: 900px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.register__table th,
.register__table td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
  border: 1px solid var(--primary-color-alpha);
}

.register__table th {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-color-alpha);
  color: black;
}

.register__table td {
  background-color: #f9f9f9;
  color: #555;
}

.register__table td:first-child {
  font-weight: bold;
}

@media (max-width: 768px) {
  .register__table {
    font-size: 0.8rem;
  }
}


.register-container-button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.register-container-button button {
  border-radius: 4px;
  background: #9cb3db;
  border: 1px solid;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.register_container {
  width: fit-content;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
